.main-header {
    background-color: $white;
    min-height: 160px;
    padding: rem(8px) rem(16px);
}

.main-footer {
    background-color: $clr-light;
    padding: rem(12px) 0;
    text-align: center;
}

.btn {
    border: 1px solid $clr1;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 12px 0;
}